#accessibility-statement-page, #accessibility-statement-page p, #accessibility-statement-page a, #accessibility-statement-page li {
  font-family: 'Arial',sans-serif !important;
}

#accessibility-statement-page h5 {
  font-family: sans-serif !important;
}