.container-fluid{
    padding-left: 0px !important;
    padding-right: 0px !important;
}

section.section {
    padding-bottom: 0px !important;
}

#navbar-main, .bg-primary {
    background-color: unset !important;
}

#top_image, #top_image-img::before {
    background-image: url(/modules/custom/akp_blocks/images/Tim_Oun-Kindia-Guinea.png);
    width: 100%;
    height: 100%;
    content: '';
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}

#arcx_discover, #arcx_discover-img::before {
    background-image: url(/modules/custom/akp_blocks/images/ray-rui-baobob-unsplash.png);
    width: 100%;
    height: 100%;
    content: '';
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-repeat: no-repeat;
    background-size: cover;
}



div.arcx-bg-white {
    background: #fff;
    position: relative;
    color: black;
}

div.arcx-bg-blue {
    background: #003775;
    position: relative;
}

.arcx-title {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: #003775;
    font-weight: bolder;
    font-family: sans-serif;
    font-size: 70px;
    color: #5c89ba;
}

.card {
    border-bottom: 5px solid #5c89ba;
    border-left: 5px solid #5c89ba;
    border-top: 5px solid #5c89ba;
    background: #0429547d;
    backdrop-filter: blur(3px);
    border-radius: var(--bs-border-radius-xxl) !important;
}

.btn {
    border: 5px solid #5c89ba;
    border-radius: 10px;
}

.btn-discover{
    background: #042954;
    float: right;
}

section.section {
    background: inherit !important;
}

div#menu_arcx_search {
    font-size: 30px;
}

nav#block-akp-arcx {
    text-align: center;
    width: 100%;
}

#menu_arcx{
    position: relative;
    border-bottom: 5px solid #5c89ba;
    border-left: 5px solid #5c89ba;
    border-top: 5px solid #5c89ba;
    font-size: 20px;
    background: #0429547d;
    backdrop-filter: blur(3px);
}
div#menu_arcx_logo img {
    height: 80px;
}

.grey-dot {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background: white;
    color: #042954;
    transition: all .5s ease-out;
}
.grey-dot:hover {
    background: #5c89ba;
    color: #042954;
}

.nav {
    --bs-nav-link-font-weight: bold;
    --bs-nav-link-color: #fff;
    --bs-nav-link-hover-color: #5c89ba;

}

.h1 {
    color: #042954;
    font-weight: bold;
}

.list-group-item {
    position: relative;
    display: block;
    padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
    color: #000;
    text-decoration: none;
    background-color: #fff;
    border: 0px !important;
}
.slick-arrow{
    height: 60px;
    width: 60px;
}

.slick-arrow::before {
    color: #042954;
    font-size: 4.25rem;
}

.slick-prev {
    left: -50px;
}

.slick-next {
    right: -40px;
}

.blazy .grid__content,
.blazy .region__content, 
.slide__description,
.slide__caption,
.views-field.views-field-nothing-1 {
  height: 100%;
}

span.field-content {
    height: 100%;
    display: block;
}

.b-column > .grid {
    height: 500px;
    border-radius: var(--bs-border-radius-xxl) !important;
}

.slide__media {
    display: none;
}

.arcx_slide_title_text {
    line-height: 1.5em;
    height: 3em;
}

.arcx_slide_title_icon {
    font-size: 50px;
}
.arcx_slide_title_text a {
    color: #f8f9fa;
}

img.image-style-large-column {
    border-radius: 30px;
}
div#Water{
    background-color: #5c9ad5;
}
div#Biodiversity\ \&\ Forest {
    background-color: #55ac21;
}
div#Food\ Security\ \&\ Agroecology {
    background-color: #ed721e;
}
div#Space {
    background-color: #060f1a;
}
div#Climate\ \&\ Disaster\ Resilience {
    background-color: #1b6b31;
}
div#Oceans {
    background-color: #003776;
}

.arcx_action_image{
    object-fit: cover;
    height: 100%;
}

.news_card {
    border-radius: var(--bs-border-radius-xxl) !important;
    height: 500px;
}

.news-image {
    object-fit: cover;
    height: 200px;
    border-top-left-radius: var(--bs-border-radius-xxl) !important;
    border-top-right-radius: var(--bs-border-radius-xxl) !important;
}

.news_card .image-overlay {
    border-top-left-radius: var(--bs-border-radius-xxl) !important;
    border-top-right-radius: var(--bs-border-radius-xxl) !important;
}

td {
    color: black !important;
}

.tab-content>.active {
    max-height: 600px;
    overflow: auto;
}

nav#navbar-main > div {
    padding: 0;
}

.card-img-top {
    border-radius: 28px 28px 0px 0px;
}

div.tab-pane .card {
    border: 0px;
}

.scrolled nav#menu_arcx {
    padding: 0px !important;
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.field.field--name-field-tutorial-video {
    margin-top: -70px;
}