/*
  CSS - Footer
*/
.ecl-footer-harmonised--group3 {
  padding-bottom: 1rem
}
.ecl-footer-harmonised--group3 .ecl-footer-harmonised__logo-list {
  margin-bottom: 0
}
.ecl-footer-harmonised--group3 .ecl-footer-harmonised__logo-item {
  margin-bottom: 0;
  margin-right: 1.5rem
}
.ecl-footer-harmonised--group3 .ecl-footer-harmonised__logo {
  height: 2.5rem
}
.ecl-footer-harmonised--group3 .ecl-footer-harmonised__section1 {
  margin-bottom: 0
}

.ecl-footer-standardised__container {
display: flex;
flex-direction: column
}

.ecl-footer-standardised__section {
font: normal normal 400 1rem/1.25rem Arial, sans-serif;
margin-top: 1.5rem
}

.ecl-footer-standardised__section:first-of-type {
margin-top: 2rem
}

.ecl-footer-standardised__section:empty,
.ecl-footer-standardised__section>:first-child {
margin-top: 0
}

.ecl-footer-standardised__section--separator {
border-bottom: 1px solid #7fa1c9;
padding-bottom: 1.5rem
}
.ecl-footer-separator {
  border-bottom: 1px solid #7fa1c9;
  padding-bottom: 3rem;
}

.ecl-footer-standardised__title,
.ecl-footer-standardised__title:active,
.ecl-footer-standardised__title:focus,
.ecl-footer-standardised__title:hover {
color: #fff;
font: normal normal 400 1rem/1.25rem Arial, sans-serif;
font-weight: 600
}

.ecl-footer-standardised__title--separator {
border-bottom: 1px solid #7fa1c9;
padding-bottom: .5rem
}

.ecl-footer-standardised__description {
color: #bfd0e4;
font: normal normal 400 .875rem/1.25rem Arial, sans-serif;
margin-top: .5rem
}

.ecl-footer-standardised__content {
color: #bfd0e4;
font: normal normal 400 .875rem/1rem Arial, sans-serif;
margin-top: .5rem
}

.ecl-footer-standardised__list {
list-style: none;
margin-bottom: 0;
margin-top: .5rem;
padding-left: 0
}

.ecl-footer-standardised__list-item {
margin-top: 1rem
}

.ecl-footer-standardised__list--condensed .ecl-footer-standardised__list-item {
margin-top: .5rem
}

.ecl-footer-standardised__list-item:first-of-type {
margin-top: 0
}

.ecl-footer-standardised__list--inline {
display: inline-flex;
flex-wrap: wrap
}

.ecl-footer-standardised__list--inline .ecl-footer-standardised__list-item {
margin-right: 1.5rem;
margin-top: 0
}

.ecl-footer-standardised__list--inline .ecl-footer-standardised__list-item:last-of-type {
margin-right: 0
}

.ecl-footer-standardised__link {
font: normal normal 400 .875rem/1rem Arial, sans-serif
}

.ecl-footer-standardised__link,
.ecl-footer-standardised__link:active,
.ecl-footer-standardised__link:focus,
.ecl-footer-standardised__link:hover {
color: #fff
}

.site-footer {
  position: relative;
  background: #002f67 !important;
  color: #fff !important;
}