/*
  CSS - Header
*/
.ec-logo{
  height: 50px;
}
#block-akpheaderblock, #navbar-top{
  padding: 0px !important;
  z-index: 100;
  position: relative;
}

#akp-header {
  background: rgb(0, 55, 118);
}

.block-cheeseburgermenu-container--is-open {
  z-index: 2010 !important;
}