<h2 class="text-center text-uppercase text-warning mt-5">REGIONAL CENTRES OF EXCELLENCE RELATED TO THE GREEN TRANSITION PROGRAM</h2>
<div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12 align-self-stretch d-flex p-0">
        <div class="card m-3 p-0 w-100">
            <div style="height: 250px; background: url({{akp_blocks}}/images/why.png)
                    no-repeat
                    center center/cover;" class="card-img-top d-flex align-items-center">
                    <h1 class="text-white w-100 text-center">WHY?</h1>
                    </div> 
            <div class="card-body">
                {# <a href="{{fields.view_user.content}}"><div class="card-title h5 text-warning">{{fields.field_first_name.content}} {{fields.field_last_name.content}}</div></a> #}
                <div class="card-title h5 text-warning">{{fields.field_first_name.content}} {{fields.field_last_name.content}}</div>
                <div class="card-text p-2 d-flex flex-column">
                    <p>
                    The component will support the implementation of the 2030 Agenda, in particular SDG 9 - Industry, Innovation, and Infrastructure. It is consistent with European Commission priorities - the Digital transition and the European Green Deal - and in line with the African Union 2063 Agenda.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 align-self-stretch d-flex p-0">
        <div class="card m-3 p-0 w-100">
            <div style="height: 250px; background: url({{akp_blocks}}/images/who.png)
                    no-repeat
                    center center/cover;" class="card-img-top d-flex align-items-center">
                    <h1 class="text-white w-100 text-center">WHO?</h1>
                    </div> 
            <div class="card-body">
                {# <a href="{{fields.view_user.content}}"><div class="card-title h5 text-warning">{{fields.field_first_name.content}} {{fields.field_last_name.content}}</div></a> #}
                <div class="card-title h5 text-warning">{{fields.field_first_name.content}} {{fields.field_last_name.content}}</div>
                <div class="card-text p-2 d-flex flex-column">
                    <p>
                        Funded by DG-INTPA, the program will benefit to African RCoEs related to green transition - known for being competence and capacity development centres, for providing leadership in scientific processeses and knowledge creation. The DG-JRC provides scientific and technical support to the RCoEs while a <b class="text-warning">Technical Assistance Expert</b> team supports the coordination of the program.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12 align-self-stretch d-flex p-0">
        <div class="card m-3 p-0 w-100">
            <div style="height: 250px; background: url({{akp_blocks}}/images/what.png)
                    no-repeat
                    center center/cover;" class="card-img-top d-flex align-items-center">
                    <h1 class="text-white w-100 text-center">WHAT?</h1>
                    </div> 
            <div class="card-body">
                {# <a href="{{fields.view_user.content}}"><div class="card-title h5 text-warning">{{fields.field_first_name.content}} {{fields.field_last_name.content}}</div></a> #}
                <div class="card-title h5 text-warning">{{fields.field_first_name.content}} {{fields.field_last_name.content}}</div>
                <div class="card-text p-2 d-flex flex-column">
                    <p>
                        The program will strengthen the Africa-EU partnership on Science Technology and Innovation with a focus on the science-policy interface. The RCoEs are supported to enhance their technical capacity to deliver data, knowledge and expertise in <b class="text-warning">6 Thematic</b> domains.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="thematic">
</div>
<div class="row justify-content-center mt-5" style="padding-top: 80px">
    <h2 class="text-center text-uppercase text-warning">Thematic Components</h2>
</div>
<div class="row p-5">
    <p>
    The thematic components address areas that are crucial for the green transition. The RCoEs will receive support for knowledge generation and management related to data and information production, collection, access, and sharing. Practitioners, scientists, and policymakers will be supported within the program's framework by strengthening the science-policy interface.
    </p>
</div>
<div class="row justify-content-center">
     {{ drupal_view('cards_rcoe', 'block_1') }}
</div>
<div id="transversal">
</div>
<div class="row justify-content-center mt-5" style="padding-top: 80px">
    <h2 class="text-center text-uppercase text-warning">Transversal Components</h2>
</div>
<div class="row p-5">
    <p>
    Through the transversal components, the program will be coordinated, steering thematic support provided to the RCoEs with the aim of enhancing cross-thematic and cross-regional synergies, as well as fostering collaboration with major pan-African projects and initiatives.
    </p>
</div>
<div class="row justify-content-center">
    <div class="col-lg-4 col-sm-12 text-center d-flex">
        <div class="w-100 text-center">
            <img src="{{akp_blocks}}/images/akp.png" class=""/>
            <div class="w-100 text-center text-warning">4 RCoEs</div>
        </div>
    </div>
    <div class="col-lg-8 col-sm-12 d-flex align-items-center">
        <p>
        The Africa Knowledge Platform enables data and information sharing across the RCoEs and other stakeholders. The platform also develops and hosts decision-support tools to help policy makers with spatial prioritisation and land use planning, contributing to the strengthening of the science-policy interface. AKP stands at the core of the program serving as knowledge and communication hub while promoting stakeholders' active participation.
        </p>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-lg-4 col-sm-12 text-center">
        <img src="{{akp_blocks}}/images/hex.png" class=""/>
    </div>
    <div class="col-lg-8 col-sm-12 d-flex align-items-center">
        <p>
        The Innovation Ecosystem work package aims at developing and implementing a methodology for a systemic place-based approach to mobilise STI for green transition. The methodology targets the strengthening of RCoEs capacities to identify and assess the interlinkages between sustainability challenges, with the objective to help in anticipating and mitigating potential negative effects of investment decisions.
        </p>
    </div>
</div>
<hr>
<div class="row justify-content-center">
    <div class="col-lg-4 col-sm-12 align-items-center text-center d-flex">
        <h1 class="w-100 text-center">Technical Assistance Team</h1>
    </div>
    <div class="col-lg-8 col-sm-12 d-flex align-items-center">
        <p>
        The Technical Assistance Expert (TAE) team is responsible for the setting-up of the program coordination and the knowledge management mechanisms. The TAE also fosters the stakeholder engagement leveraging on collaboration, cross-fertilization, and the upscaling of successful initiatives. It facilitates the communication among the stakeholders and supports the overall program outreach.
        </p>
    </div>
</div>
<div class="row mb-5">
</div>