<div id="accessibility-statement-page" class="p-5">
  <p>This statement applies to content published on the domain: 'https://africa-knowledge-platform.ec.europa.eu/'</p>
  <p>It does not apply to other content or websites published on any of its subdomains. These websites and their content will have their own specific accessibility statement.</p>
  <p>This website is managed by European Commission Joint Research Centre. It is designed to be used by as many people as possible, including people with disabilities.</p>
  <p>You should be able to:</p>
  <ul>
    <li>e.g. zoom up to 200% without problems</li>
    <li>navigate most of the website using just a keyboard</li>
    <li>navigate most of the website using a modern screen reader and speech recognition software (on your computer or phone)</li>
  </ul>
  <p>This website is designed to comply with the <a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/03.02.01_60/en_301549v030201p.pdf">technical standard for websites and mobile apps, EN 301 549,&nbsp; v.3.2.1</a>. This closely follows level 'AA' of the <a href="https://www.w3.org/TR/WCAG21/">Web Content Accessibility Guidelines (WCAG) version 2.1</a>.</p>
  <p><h5 class="text-warning">Compliance status</h5></p>
  <p>This website is partially <strong>compliant</strong> with <a href="https://www.etsi.org/deliver/etsi_en/301500_301599/301549/03.02.01_60/en_301549v030201p.pdf">technical standard EN 301 549 v.3.2.1</a> and the <a href="https://www.w3.org/WAI/standards-guidelines/wcag/">Web Content Accessibility Guidelines (WCAG) 2.1 Level AA</a>. See 'Non-accessible content' for more details.</p>
  <p></p>
  <p></p>
  <p>The website was last tested on 30 November 2024.</p>
  <p></p>
  <p></p>
  <p><h5 class="text-warning">Preparation of this statement</h5></p>
  <p>This statement was reviewed on 21 February 2025.</p>
  <p>The statement is based on a review of a representative sample of web pages by an <a href="https://www.accessibilityassociation.org/s/">IAAP</a> qualified accessibility expert, using a combination of manual and automated testing.</p>
  <p></p>
  <p></p>
  <p><h5 class="text-warning">Feedback</h5></p>
  <p>We welcome your feedback on the accessibility of the Africa Knowledge Platform website. Please let us know if you encounter accessibility barriers:</p>
  <ul>
    <li><p>E-mail: <a href="mailto:JRC-AFRICA@ec.europa.eu">JRC-AFRICA@ec.europa.eu</a></p></li>
  </ul><p>We try to respond to feedback within 15 business days from the date of receipt of the enquiry by the responsible Commission department.</p>
  <p><h5 class="text-warning">Compatibility with browsers and assistive technology</h5></p>
  <p>The Africa Knowledge Platform website is designed to be compatible with the following assistive technologies:</p>
  <ul><li>the latest version of Microsoft Edge, Google Chrome, Mozilla Firefox and Apple Safari browsers;</li><li>in combination with the latest versions of JAWS, NVDA, VoiceOver and TalkBack.</li></ul>
  <p><h5 class="text-warning">Technical specifications</h5></p>
  <p>The accessibility of the Africa Knowledge Platform website relies on the following technologies to work with the particular combination of web browser and any assistive technologies or plugins installed on your computer:</p>
  <ul>
    <li>HTML</li>
    <li>WAI-ARIA</li>
    <li>CSS</li>
    <li>JavaScript</li>
    <li>SVG</li>
  </ul>
  <p><h5 class="text-warning">Non accessible content</h5></p>
  <p>At the moment there are not known limitations to an accessible user experience of the Africa Knowledge Platform website.</p>
  <!--
  <p>Despite our best efforts to ensure accessibility of the Africa Knowledge Platform website, we are aware of some limitations, which we are working to fix. Below is a description of known limitations and potential solutions. Please contact us if you encounter an issue not listed below.</p>
  <p>Known limitations for the Africa Knowledge Platform website:</p>
  <ol>
    <li>Compact tables with small cells are designed to accommodate a greater amount of information on a single page, albeit at the cost of increased difficulty in readability.</li>
    <li>Charts featuring small text within bars and circles. These charts may also have keyboard accessibility and contrast issues.</li>
    <li>In some charts, information is conveyed by means of colour only instead of also using text.</li>
    <li>Some SDG goals colours don't meet the minimum contrast ratio thresholds.</li>
    <li>Some links don't have an appropriate link text.</li>
    <li>There is a CAPTCHA that cannot be solved by blind persons.</li>
  </ol>
  -->
</div>