{{ attach_library( 'akp_blocks/arcx' ) }}
{{ attach_library( 'akp/partner_map' ) }}
<div id="top_image"></div>
<div class="container p-0">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 align-self-stretch d-flex p-0">
            <div class="card m-3 p-0 w-100 rounded-5">
                <div class="card-body">
                    <div class="card-title">
                        <div class="h1 arcx-title">ArcX</div>
                        <div class="h1">Programme</div>
                    </div>
                    <div class="card-text p-2">
                        <p>
                        ArcX (Africa Regional Centres of Excellence) is at the forefront of Africa's sustainable development, driven by a collaborative effort between Africa and Europe. Our mission is to advance Science, Technology, and Innovation (STI) to meet the challenges of the green transition.
                        </p>
                        <a href="#about" class="btn btn-lg btn-primary">Learn More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="arcx_about" class="container-fluid p-0 arcx-bg-white">
    <div class="container px-0 py-5">
        <div id="about">
        </div>
        <div class="row justify-content-center m-3 mt-5 position-relative">
            <div class="col-4">
                <img src="{{akp_blocks}}/images/alessandro-desantis-unsplash.png" class="w-100 rounded-5"/>
            </div>
            <div class="col-8">
                <div class="h1 text-center">About the ArcX Programme</div>
                <hr>
                <p>
                Africa plays a critical role in the global green transition, and Arc X is dedicated to ensuring that this transformation is inclusive. By aligning with the EU Green Deal and the Science, Technology, and Innovation Strategy for Africa 2024 , Arc X promotes growth that benefits all communities, particularly those most vulnerable to environmental changes.
                </p>
                <p>
                The success of Arc X is built on the strong partnership between the European Union ( EU) and the African Union ( AU). This collaboration enhances innovation and research capabilities across both regions.
                </p>
                <p>
                It strengthens local capacities by improving data collection, knowledge generation, and skill development among African scientists and policymakers. The African Regional Centres of Excellence act as innovation hubs, providing tailored solutions for each region’ s unique needs.
                </p>
                <a href="#discover" class="btn btn-lg btn-primary position-absolute bottom-0 end-0 btn-discover">Discover More</a>
            </div>
        </div>
    </div>
</div>
<div id="arcx_discover" class="container-fluid p-0">
    <div class="container px-0  py-5">
        <div class="row m-3">
            <div id="discover" class="py-5">
            </div>
            <div class="h1 text-center pb-5">Discover</div>
            <div class="row justify-content-center">
                <div class="contextual-region">
                    {{ drupal_contextual_links('entity.view.edit_form:view=cards_arcx&display_id=block_1:') }}
                    {{ drupal_view('cards_arcx', 'block_1') }}
                </div>
            </div>
        </div>
    </div>
</div>
{# Transversal #}
{{ drupal_entity('taxonomy_term', 935, 'summary') }} 
{# Biodiversity and Forest #}
{{ drupal_entity('taxonomy_term', 928, 'summary') }} 
{# Water #}
{{ drupal_entity('taxonomy_term', 932, 'summary') }} 
{# Food Security and Agroecology #}
{{ drupal_entity('taxonomy_term', 929, 'summary') }} 
{# Climate & Disaster Resilience #}
{# {{ drupal_entity('taxonomy_term', 933, 'summary') }}  #}
{# Oceans #}
{# {{ drupal_entity('taxonomy_term', 930, 'summary') }}  #}
<div id="arcx_news" class="container-fluid p-0 arcx-bg-blue">
    <div class="container px-0  py-5">
        <div id="news" class="py-5">
        </div>
        <div class="row justify-content-center mt-5">
            <div class="h1 text-center text-light">News</div>
            <div class="h5 text-center">Our most recent posts</div>
            <hr>
        </div>
        <div class="row">
            <div class="col-12 justify-content-center">
                {% if user.hasPermission('create blog_post content') %}
                    <a class="btn btn-primary mb-3" href="/node/add/blog_post" target="_blank" rel="noreferrer noopener" style="right: 0;">
                        <i class="fas fa-plus"></i> {% trans %}Add news{% endtrans %}
                    </a>
                {% endif %}
                <div class="contextual-region">
                    {{ drupal_contextual_links('entity.view.edit_form:view=news&display_id=block_2:') }}
                    {{ drupal_view('news', 'block_2') }}
                </div>
                <a href="/news" class="btn btn-lg btn-primary btn-discover">For More News <i class="fa-solid fa-arrow-right text-warning"></i></a>
            </div>
        </div>
    </div>
</div>
<div id="arcx_events" class="container-fluid p-0 arcx-bg-blue">
    <div class="container px-0  py-5">
        <div id="events" class="py-5">
        </div>
        <div class="row justify-content-center mt-5">
            <div class="h1 text-center text-light">Events</div>
            <hr>
        </div>
        <div class="row">
            <div class="col-12 justify-content-center">
                <div class="contextual-region">
                    {{ drupal_contextual_links('entity.view.edit_form:view=events&display_id=block_1:') }}
                    {{ drupal_view('events', 'block_1') }}
                </div>
                <a href="/events" class="btn btn-lg btn-primary btn-discover">For More Events <i class="fa-solid fa-arrow-right text-warning"></i></a>
            </div>
        </div>
    </div>
</div>
<div id="arcx_press" class="container-fluid p-0 arcx-bg-blue">
    <div class="container px-0  py-5">
        <div id="press" class="py-5">
        </div>
        <div class="row justify-content-center mt-5">
            <div class="h1 text-center text-light">Press Corner</div>
            <div class="h5 text-center">Press material from ArcX programme</div>
            <hr>
        </div>
        <div class="row">
            <div class="col-4">
                <div class="card m-3 p-0 w-100 rounded-5">
                    <div class="card-body">
                        <div class="card-text p-2"  id="arcx-tabs-press" role="tablist">
                            <div class="h4 text-center">Our Production</div>
                            <hr>
                            <div class="arcx_vertical_menu d-flex flex-column pb-5">
                                <a href="#" class="h5 nav-item active" role="tab" data-bs-toggle="tab" data-bs-target="#tab-pane-newsletter" aria-controls="tab-pane-newsletter" aria-selected="true">Newsletter</a>
                                <a href="#" class="h5 nav-item" role="tab" data-bs-toggle="tab" data-bs-target="#tab-pane-brochure" aria-controls="tab-pane-brochure" aria-selected="false">Brochure</a>
                                <a href="#" class="h5 nav-item" role="tab" data-bs-toggle="tab" data-bs-target="#tab-pane-factsheet" aria-controls="tab-pane-factsheet" aria-selected="false">Factsheets</a>
                            </div>
                            <div class="h4 text-center">They say about us</div>
                            <hr>
                            <div class="arcx_vertical_menu d-flex flex-column pb-5">
                                {# <a href="#" class="h5 nav-item">Press Release</a> #}
                                <a href="#" class="h5 nav-item" role="tab" data-bs-toggle="tab" data-bs-target="#tab-pane-video" aria-controls="tab-pane-video" aria-selected="false">Video</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-8">
                <div class="tab-content" id="arcx-tabs-content-press">
                    <div class="tab-pane fade p-3 show active" id="tab-pane-newsletter" role="tabpanel" aria-labelledby="tab-newsletter" tabindex="0">
                        <div class="card p-0 w-100 rounded-5">
                            <div class="card-body">
                                <div class="card-text p-2">
                                    <div class="h4 text-center">Newsletter</div>
                                    <hr>
                                    {# {{ drupal_entity('node', 37413, 'teaser') }} #}
                                    {{ drupal_block('block_content:e7287725-f91d-4b62-b6dc-b010c42bfe6a') }}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="tab-pane-brochure" role="tabpanel" aria-labelledby="tab-brochure" tabindex="0">
                        <div class="card p-0 w-100 rounded-5">
                            <div class="card-body">
                                <div class="card-text p-2">
                                    <div class="h4 text-center">Brochure</div>
                                    <hr>
                                    <ul>
                                        <li>
                                            <a href="{{akp_blocks}}/files/brochures/ArcX_Brochure.pdf" target="_blank" rel="noreferrer noopener">Brochure</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="tab-pane-factsheet" role="tabpanel" aria-labelledby="tab-factsheet" tabindex="0">
                        <div class="card p-0 w-100 rounded-5">
                            <div class="card-body">
                                <div class="card-text p-2">
                                    <div class="h4 text-center">Factsheets</div>
                                    <hr>
                                    <ul>
                                        <li>
                                            <a href="{{akp_blocks}}/files/factsheets/ArcX_Agroecology_Factsheet.pdf" target="_blank" rel="noreferrer noopener">Agroecology</a>
                                        </li>
                                        <li>
                                            <a href="{{akp_blocks}}/files/factsheets/ArcX_Biodiversity_Factsheet.pdf" target="_blank" rel="noreferrer noopener">Biodiversity</a>
                                        </li>
                                        <li>
                                            <a href="{{akp_blocks}}/files/factsheets/ArcX_Water_Factsheet.pdf" target="_blank" rel="noreferrer noopener">Water</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade p-3" id="tab-pane-video" role="tabpanel" aria-labelledby="tab-video" tabindex="0">
                        <div class="card p-0 w-100 rounded-5">
                            <div class="card-body">
                                <div class="card-text p-2">
                                    <div class="h4 text-center">Video</div>
                                    <hr>
                                    {{ drupal_field('field_tutorial_video', 'node', 36894) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>