{#
/**
* @file
* AKP Disclaimer Block template
*/
#}
{{ title_suffix }}
<a href="/arcx" class="h3">Regional Centres of Excellence for the Green Transistion Program</a>
<p class="lead pt-3 pb-4">
This platform serves as the Knowledge and Information hub for the Regional Centers of Excellence program. It underpins its <a href="/arcx#transversal"><strong>Transversal component</strong></a> helping foster knowledge exchange and strengthen the science-policy interface, covering the priority topics linked to the Green Transition:
</p>
  {{ drupal_view('cards_rcoe', 'block_1') }}