{#
/**
* @file
* AKP Footer Block template
*/
#}
{{ attach_library( 'akp_blocks/footer' ) }}

<div class="container ecl-footer-standardised">
    <div class="row ecl-footer-separator">
        <div class="col-lg-4 col-sm-12 p-0">
            <div class="row m-2">
                <img alt="European Commission logo" title="European Commission" class="ecl-site-footer__logo-image-desktop" src="{{akp_blocks}}/images/logo-ec.svg">
                <a href="/" class="h4" aria-label="Link to home">Africa Knowledge Platform</a>
                <div class="">This site is managed by the European Commission - Joint Research Centre</div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 p-0">
            <div class="row m-2">
                <div class="ecl-footer-standardised__title ecl-footer-standardised__title--separator">Contact us</div>
                <ul class="ecl-footer-standardised__list">
                <li class="ecl-footer-standardised__list-item"><a href="mailto:JRC-AFRICA@ec.europa.eu">Send Email</a></li>
                </ul>
            </div>
            <div class="row m-2">
                <div class="ecl-footer-standardised__title ecl-footer-standardised__title--separator">Follow us on</div>
                <ul class="ecl-footer-standardised__list ecl-footer-standardised__list--inline">
                    <li class="ecl-footer-standardised__list-item">
                        <a href="https://www.facebook.com/EUScienceHub/" class="ecl-footer-standardised__link ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before" aria-label="Link to Facebook">Facebook</a>
                    </li>
                    <li class="ecl-footer-standardised__list-item">
                        <a href="https://twitter.com/eu_sciencehub" class="ecl-footer-standardised__link ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before" aria-label="Link to Twitter">Twitter</a>
                    </li>
                    <li class="ecl-footer-standardised__list-item">
                        <a href="https://www.linkedin.com/showcase/european-commission-joint-research-centre/" class="ecl-footer-standardised__link ecl-link ecl-link--standalone ecl-link--icon ecl-link--icon-before" aria-label="Link to Linkedin">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 p-0">
            {# <div class="row m-2">
                <div class="ecl-footer-standardised__title ecl-footer-standardised__title--separator">About us</div>
                <ul class="ecl-footer-standardised__list">
                <li class="ecl-footer-standardised__list-item"><a href="/team" class="ecl-footer-standardised__link ecl-link ecl-link--standalone" aria-label="Link to Information about the DG">Team</a></li>
                </ul>
            </div> #}
            <div class="row m-2">
                <div class="ecl-footer-standardised__title ecl-footer-standardised__title--separator">Related sites</div>
                <ul class="ecl-footer-standardised__list">
                <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/jrc/en/about/organisation" class="ecl-footer-standardised__link ecl-link ecl-link--standalone" aria-label="Link to Related link 1">The European Commission's science and knowledge service</a></li>
                <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/jrc/en/about/science-hub" class="ecl-footer-standardised__link ecl-link ecl-link--standalone" aria-label="Link to Related link 2">What is the EU Science Hub</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-lg-4 col-sm-12 p-0">
            <div class="row m-2">
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 p-0">
            <div class="row m-2">
                <ul class="ecl-footer-standardised__list">
                    <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/about-european-commission/contact_en" class="ecl-footer-standardised__link ecl-link ecl-link--standalone" aria-label="Link to Contact the European Commission">Contact the European Commission</a></li>
                    <li class="ecl-footer-standardised__list-item"><a href="https://european-union.europa.eu/contact-eu/social-media-channels_en#/search?page=0&amp;institutions=european_commission" class="ecl-footer-standardised__link ecl-link ecl-link--standalone" aria-label="Link to follow">Follow the European Commission on social media</a></li>
                    <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/resources-partners_en" class="ecl-footer-standardised__link ecl-link ecl-link--standalone" aria-label="Link to Resources for partners">Resources for partners</a></li>
                    <li class="ecl-footer-standardised__list-item"><a href="/accessibility-statement" class="ecl-footer-standardised__link ecl-link ecl-link--standalone" aria-label="Link to Accessibility">Accessibility</a></li>
                </ul>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 p-0">
            <div class="row m-2">
                <ul class="ecl-footer-standardised__list">
                    <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/education/policies/multilingualism/about-multilingualism-policy_en" class="ecl-footer-standardised__link ecl-link ecl-link--standalone" aria-label="Link to Language policy">Language policy</a></li>
                    <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/cookies" class="ecl-footer-standardised__link ecl-link ecl-link--standalone" aria-label="Link to Cookies">Cookies</a></li>
                    <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/privacy-policy_en" class="ecl-footer-standardised__link ecl-link ecl-link--standalone" aria-label="Link to Privacy policy">Privacy policy</a></li>
                    <li class="ecl-footer-standardised__list-item"><a href="https://ec.europa.eu/info/legal-notice_en" class="ecl-footer-standardised__link ecl-link ecl-link--standalone" aria-label="Link to Legal notice">Legal notice</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
