{#
/**
* @file
* AKP Header Block template
*/
#}
{{ attach_library( 'akp_blocks/header' ) }}

<div id="ec-header" class="container-fluid bg-white d-flex align-items-center" style="height: 80px;">
    <div id="ec-logo" class="container">
        <img alt="European Commission logo" src="{{akp_blocks}}/images/logo_ec_1.svg" class="ec-logo"> 
    </div>
</div>
<div id="akp-header" class="container-fluid d-flex align-items-center text-white">
    <div class="container my-2">
        <a href="https://ec.europa.eu/jrc/en" class="h6 py-3">EU Science Hub</a>
        <div class="h4 my-2">Africa Knowledge Platform</div>   
    </div>
</div>