{#
/**
* @file
* AKP Teampage template
*/
#}
<div class="container text-black">
    <div class="row justify-content-center">
    
        <h1 class="title text-uppercase text-warning d-none d-md-block">Partners</h1>
        {{ drupal_contextual_links('entity.view.edit_form:view=partner_organizations&display_id=block_1:') }}
        {{ drupal_view('partner_organizations', 'block_1') }}


        <h1 class="title text-uppercase text-warning d-none d-md-block">Team</h1>

        {# <div class="text-center p-5 position-relative">We are the core team behind the development and maintenance of the Africa Knowledge Platform. We thank all JRC colleagues for their support and contribution (to the data layers, tools, stories and partners).</div> #}
        <h1 class="text-warning d-none d-md-block text-center mt-5" style="font-variant: small-caps;">Joint Research Centre</h1>
        {{ drupal_contextual_links('entity.view.edit_form:view=team&display_id=jrc:') }}
        {{ drupal_view('team', 'jrc') }}

        <h1 class="text-warning d-none d-md-block text-center mt-5" style="font-variant: small-caps;">Directorate-General for International Partnerships</h1>
        {{ drupal_contextual_links('entity.view.edit_form:view=team&display_id=intpa:') }}
        {{ drupal_view('team', 'intpa') }}

        <h1 class="text-warning d-none d-md-block text-center mt-5" style="font-variant: small-caps;">Regional Centres of Excellence Technical Assistance Team</h1>
        {{ drupal_contextual_links('entity.view.edit_form:view=team&display_id=ta:') }}
        {{ drupal_view('team', 'ta') }}

    </div>
</div>
