 {#
/**
* @file
* view: The view in use.
* fields: A list of fields, each one contains:
* content: The output of the field.
* raw: The raw data for the field, if it exists. This is NOT output safe.
* class: The safe class ID to use.
* handler: The Views field handler controlling this field.
* inline: Whether or not the field should be inline.
* wrapper_element: An HTML element for a wrapper.
* wrapper_attributes: List of attributes for wrapper element.
* separator: An optional separator that may appear before a field.
* label: The field's label text.
* label_element: An HTML element for a label wrapper.
* label_attributes: List of attributes for label wrapper.
* label_suffix: Colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* has_label_colon: A boolean indicating whether to display a colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* row: The raw result from the query, with all data it fetched.
 */
#}

<div class="card m-2 w-100">
    <a href="/indicators/topic/{{ fields.tid.content }}">
        <div class="card-image indicator-card-image">
            <img class="card-img-top" alt="sdg icon" role="presentation" src="{{ fields.field_topic_image.content }}"/>
            <div class="image-overlay"></div>
        </div>
    </a>
    <a href="/indicators/topic/{{ fields.tid.content }}">
        <div class="card-body">
            <div class="h5 text-white">{{ fields.name.content }}</div>
            {% if is_admin %}		
                <a href="{{ fields.edit_taxonomy_term.content }}" class="btn btn-light use-ajax" role="button" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}" data-once="ajax">Edit</a>
            {% endif %}
        </div>
    </a>
</div>

