 {#
/**
* @file
* view: The view in use.
* fields: A list of fields, each one contains:
* content: The output of the field.
* raw: The raw data for the field, if it exists. This is NOT output safe.
* class: The safe class ID to use.
* handler: The Views field handler controlling this field.
* inline: Whether or not the field should be inline.
* wrapper_element: An HTML element for a wrapper.
* wrapper_attributes: List of attributes for wrapper element.
* separator: An optional separator that may appear before a field.
* label: The field's label text.
* label_element: An HTML element for a label wrapper.
* label_attributes: List of attributes for label wrapper.
* label_suffix: Colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* has_label_colon: A boolean indicating whether to display a colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* row: The raw result from the query, with all data it fetched.
 */
#}




<div class="card mb-3 w-100">
    <div class="card-image">
        <img class="card-img-top" src="{{ fields.field_tm_thumbnail.content }}"/>
        <div class="image-overlay d-flex align-items-end">
            <h5 class="card-title p-3 text-white">{{ fields.title.content }}</h5>
        </div>
    </div>
    <div class="card-body d-flex flex-column justify-content-between">
        <div class="fst-italic">{{ fields.body.content }}</div>
        <div class="card-sliders">
        {% if fields.field_tm_sdg.content|raw %}
            <div class="card text-warning">
                <h5 class="biopama-collapse card-title d-flex justify-content-between p-3 m-0" id="card-title-{{ fields.nid.content }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ fields.nid.content }}" aria-expanded="false" aria-controls="collapse{{ fields.nid.content }}"><div class="inner-card-title"><i class="fa-solid fa-gauge me-3"></i>Related Policies</div><div class="card-collapsed"><i class="fas fa-chevron-down"></i></div><div class="card-expanded"><i class="fas fa-chevron-up"></i></div></h5> 
                <div class="collapse wrapper-data-card p-3" id="collapse{{ fields.nid.content }}"> 
                    {{ fields.field_tm_sdg.content }}
                    {{ fields.field_goal_full_title.content }}
                </div>
            </div> 
        {% endif %}
        {% if fields.field_tm_topic.content|raw %}
            <div class="card text-warning">
                <h5 class="biopama-collapse card-title d-flex justify-content-between p-3 m-0" id="card-Topic-{{ fields.nid.content }}" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTopic{{ fields.nid.content }}" aria-expanded="false" aria-controls="collapseTopic{{ fields.nid.content }}"><div class="inner-card-title"><i class="fa-solid fa-list me-3"></i>Related Topics</div><div class="card-collapsed"><i class="fas fa-chevron-down"></i></div><div class="card-expanded"><i class="fas fa-chevron-up"></i></div></h5> 
                <div class="collapse wrapper-data-card p-3" id="collapseTopic{{ fields.nid.content }}"> 
                    {{ fields.field_tm_topic.content }}
                </div>
            </div> 
        {% endif %}
        {% if is_admin %}
            <a href="{{ fields.edit_node.content }}" class="btn btn-light use-ajax m-3" role="button" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}" data-once="ajax">Edit</a>
        {% endif %}
        </div>
    </div>
</div>

