 {#
/**
* @file
* view: The view in use.
* fields: A list of fields, each one contains:
* content: The output of the field.
* raw: The raw data for the field, if it exists. This is NOT output safe.
* class: The safe class ID to use.
* handler: The Views field handler controlling this field.
* inline: Whether or not the field should be inline.
* wrapper_element: An HTML element for a wrapper.
* wrapper_attributes: List of attributes for wrapper element.
* separator: An optional separator that may appear before a field.
* label: The field's label text.
* label_element: An HTML element for a label wrapper.
* label_attributes: List of attributes for label wrapper.
* label_suffix: Colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* has_label_colon: A boolean indicating whether to display a colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* row: The raw result from the query, with all data it fetched.
 */
#}


<div class="card mb-3">
    <div class="row">
        <div class="col-lg-3 col-sm-12">
            <div class="card-title h5 p-3">{{ fields.title.content }}</div>
            <div class="card-image px-3">
                <img src="/sites/default/files/country_flags/{{ fields.field_country_iso2.content|lower }}.png" class=""/>
                <div class="image-overlay"></div>
            </div>
            {% if is_admin %}		
                <a href="{{ fields.edit_node.content }}" class="btn btn-light use-ajax m-3" role="button" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}" data-once="ajax">Edit</a>
            {% endif %}
        </div>
        <div class="col-lg-9 col-sm-12">
            Partners
            <div class="contextual-region">
                {{ drupal_contextual_links('entity.view.edit_form:view=country_partners&display_id=block_1:') }}
                {{ drupal_view('country_partners', 'block_1', fields.field_country_iso2.content|render|trim|striptags) }}
            </div>
        </div>
        {# <div class="col-lg-5 col-sm-12">
            Stories
            <div class="contextual-region">
                {{ drupal_contextual_links('entity.view.edit_form:view=country_stories&display_id=block_1:') }}
                {{ drupal_view('country_stories', 'block_1', fields.field_country_iso2.content) }}
            </div>
        </div> #}
    </div>
</div>
