 {#
/**
* @file
* view: The view in use.
* fields: A list of fields, each one contains:
* content: The output of the field.
* raw: The raw data for the field, if it exists. This is NOT output safe.
* class: The safe class ID to use.
* handler: The Views field handler controlling this field.
* inline: Whether or not the field should be inline.
* wrapper_element: An HTML element for a wrapper.
* wrapper_attributes: List of attributes for wrapper element.
* separator: An optional separator that may appear before a field.
* label: The field's label text.
* label_element: An HTML element for a label wrapper.
* label_attributes: List of attributes for label wrapper.
* label_suffix: Colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* has_label_colon: A boolean indicating whether to display a colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* row: The raw result from the query, with all data it fetched.
 */
#}
{% set nodeTitle = fields.title.content %}
<div class="card my-2 w-100">
    <a href="{{ fields.view_node.content }}">
        <div class="card-image indicator-card-image">
            <img class="card-img-top opacity-50" src="{{ fields.field_indicator_image.content }}"/>
            <div class="image-overlay"></div>
        </div>
    </a>
    {# <a href="{{ fields.view_node.content }}"> #}
        <div class="card-body">
            <div class="card-title h5 text-white"><strong>{{ nodeTitle|length > 100 ? nodeTitle|slice(0, 80)|raw : nodeTitle|raw }}</strong></div>
                <div class="row">
                    <div class="col-12">
                        {% if fields.field_reference_policy.content is not empty %}
                            SDGs: {{fields.field_reference_policy.content}}
                        {% endif %}
                        <br>
                        {% if fields.field_indicator_topic.content is not empty %}
                            Topics: {{ fields.field_indicator_topic.content }}
                        {% endif %}
                    </div>
                </div>
                <hr class="m-3">
                <div class="row">
                    <div class="col-12 text-end">
                        <a href="/conservation_tracking?search={{ nodeTitle|length > 100 ? nodeTitle|slice(0, 100)|raw : nodeTitle|raw }}" target="_blank" class="btn btn-primary my-1 rounded-0 akp-mapping-link">Select for mapping</a> <a class="btn btn-primary" href="{{ fields.view_node.content }}">Read more</a>
                    </div>
                </div>
            {% if is_admin %}		
                <a href="{{ fields.edit_node.content }}" class="btn btn-light use-ajax" role="button" data-dialog-type="dialog" data-dialog-renderer="off_canvas" data-dialog-options="{&quot;width&quot;:400}" data-once="ajax">Edit</a>
            {% endif %}
        </div>
    {# </a> #}
</div>

