 {#
/**
* @file
* view: The view in use.
* fields: A list of fields, each one contains:
* content: The output of the field.
* raw: The raw data for the field, if it exists. This is NOT output safe.
* class: The safe class ID to use.
* handler: The Views field handler controlling this field.
* inline: Whether or not the field should be inline.
* wrapper_element: An HTML element for a wrapper.
* wrapper_attributes: List of attributes for wrapper element.
* separator: An optional separator that may appear before a field.
* label: The field's label text.
* label_element: An HTML element for a label wrapper.
* label_attributes: List of attributes for label wrapper.
* label_suffix: Colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* has_label_colon: A boolean indicating whether to display a colon after the label.
* element_type: An HTML element for the field content.
* element_attributes: List of attributes for HTML element for field content.
* row: The raw result from the query, with all data it fetched.
 */
#}
<div class="card m-3 p-0 w-100">
    <div style="height: 250px; background: url({{fields.user_picture.content }})
            no-repeat
            center center/cover;" class="card-img-top"></div> 
    <div class="card-body">
        {# <a href="{{fields.view_user.content}}"><div class="card-title h5 text-warning">{{fields.field_first_name.content}} {{fields.field_last_name.content}}</div></a> #}
        <div class="card-title h5 text-warning">{{fields.field_first_name.content}} {{fields.field_last_name.content}}</div>
        <div class="card-text p-2 d-flex flex-column">
            <div class="flex-grow-1">{{fields.field_biography.content }}</div>
            <div>{{fields.field_user_organisation.content }}</div>
			<div class="flex-shrink-1">{{fields.field_rcoe_action.content }}</div>
            {# <div class="text-align-right position-absolute bottom-0 end-0 p-3"><a href="//www.linkedin.com/in/stevebiopama"><i class="fa-brands fa-linkedin-in"></i></a></div> #}
        </div>
    </div>
</div>